/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* Center the main menu */
header .main_header .main-menu > ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Show wishlist on desktop */
header ul.top_tools > li:nth-child(4) {
    display: inline-block !important;
}