/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* Center the main menu */
header .main_header .main-menu > ul {
    display: flex;
    justify-content: center;
    width: 100%;
}